{% extends 'base.template.html' %} 

{% block title %}
    Details for {{book.title}}
{% endblock%} 

{% block content %}

<h1>{{book.title}}</h1>
<div class="row">
  <div class="col-3">
    ISBN:
  </div>
  <div class="col">
    {{book.ISBN}}
  </div>
</div>
<div class="row">
  <div class="col-3">
    Authors:
  </div>
  <div class="col">
    <ul>
      {% for a in book.authors.all %}
      <li>{{a.first_name}} {{a.last_name}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-3">Category</div>
  <div class="col">{{book.category.title}}</div>
</div>

<h3>Reviews</h3>
{% for r in book.review_set.all %}
<div class="card">
  <div class="card-body">
    <div class="card-title">{{r.title}}</div>
    <p>on {{r.date}}</p>
    <div>
      {{r.content}}
    </div>
  </div>
</div>
{% endfor %} 
{% endblock%}
