
{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Search</h1>
    <form method="GET">
    {{search_form|crispy}}
    <input type="submit" class="btn btn-primary"/>
    </form>
    <h1>Books</h1>
    <ul>
      {% for each_book in all_books %}
      <li>
      <a href="{% url 'book_details_route' book_id=each_book.id %}">{{each_book.title}}</a> 
            <a href="{% url 'update_book_route' book_id=each_book.id %}">Edit</a> 
            <a href="{% url 'delete_book_route' book_id=each_book.id %}">Delete</a>      
      </li>
      {% endfor %}
    </ul>
{% endblock %}
